
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    {% for p in site.pages_list %}
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
          {% include {{ page.path }} %}

          
          {% if p[1] == 'about' %}
            <div class="row" style="margin-right:0;margin-left:0;">
              <img src="/img/burning_ball_bg.jpg" class="image_hr">
            </div>
          {% elsif p[1] == 'latest-post' %}
            <div class="row" style="margin-right:0;margin-left:0;">
              <img src="/img/contact_background.jpg" class="image_hr">
            </div>
          {% elsif p[1] == 'contact' %}
            <div class="row" style="margin-right:0;margin-left:0;">
              <img src="/img/ball_bg.jpg" class="image_hr">
            </div>
          {% endif %}
          
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
